@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=Lato&family=Roboto:wght@300;400&family=Rubik+Puddles&display=swap');

*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family:'Roboto';
}

#my-navbar{
    height: 86px;
}
nav{
    position:sticky;
    top:0px;
}
.v-line{
    height: 80px;
}
.search-bar{
    width:45%;
    border:1px solid #eeeeee;
    border-radius:6px;
    padding-left:10px;
    background-color:#f8f8f8;
}
.search-bar>input{
    width:90%;
    border:none;
    height: 50px;
    padding:10px;
    background-color: transparent;
}
.cate,footer{
    width:82vw;
    margin:auto;
   
    }
 .cate>img{
    width:150px;
    height: 200px;
} 
.r-3{
    font-size: 17px;
    color: rgb(102, 102, 102);
    line-height: 18px;
    margin: 12px;
}
.r2text{
    font-size: 17px;
    color: rgb(102, 102, 102);
    line-height: 18px;
    margin: 12px;
    width:40%;
}
.r-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    width:40px;
    height: 40px;
    background-color: rgb(14, 26, 71);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 25px;
    color:white;
    margin:10px;
}
#footer-links{
    display: flex;
    align-items: center;
    gap:10px;
}
#footer-links>button{
    background-color: rgb(33,33,75);
    border:none;
    color:white;
    width:120px;
    padding:10px 20px;
    border-radius: 5px;
    font-size: 15px;
}
.r-1{
    display: flex;
}
.ft-1{
    flex:2;
}
.ft-2{
    flex:3;
}
table{
    width: 100%;
}
td{
    font-size: 16px;
    color:#6b6b6b;
    padding-bottom:10px;
}